.c1{
  font-weight: normal;
  font-size:10 rem;
  border: 3px solid red  ;
}
.c2{
font-weight: bold;
font-style: italic;
}
.c3{
font-family: 'Courier New', Courier, monospace;
/*box-shadow: 20px 20px 50px 15px black;*/
background-color: black;
color: aliceblue;

}